.hotSearch {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    box-sizing: content-box;
    font-size: 40px;
    font-weight: bold;
    /*border-width: 0ch;*/
    font-family: '宋体';
    text-align: center;
}
.companyList {
    /* position: absolute; */
    /*避免子元素margin 影响外层元素 overflow和position都可以*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    /* flex弹性布局 居中（水平、垂直） */
}

.listItem {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    /*transition: 0.3s;*/
    width: 90%;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.left {
    float: left;
    width: 30%;
    text-align: center;
}
.right {
    float: left;
    width: 65%;
}
.companyLogo {
    width: 130px;
    height: 130px;
    margin-top: 20px;
}
.searchCount {
    font-size: small;
    text-align: center;
    color: grey;
}
.companyName {
    margin-top: 10px;
    font-size: 35px;
    font-weight: bold;
}
.note {
    font-size: 25px;
}

.icon {
    float: right;
}

.logo-text {
    font-family: 'Microsoft YaHei', 微软雅黑, 'Microsoft JhengHei', 华文细黑,
        STHeiti, MingLiu;
    text-align: center;
}
