.title {
    display: block;
    width: 100%;
    margin-top: 20px;
    box-sizing: content-box;
    font-size: 40px;
    font-weight: bold;
    border-width: 0ch;
    font-family: '宋体';
    text-align: center;
}

.content {
    color: grey;
    font-size: small;
}

.at-article__section > .at-article__p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    overflow: hidden;
    text-overflow: ellipsis;
}

.top,
.bottom {
    border-left: 3px solid rgb(241, 246, 249);
    border-right: 3px solid rgb(241, 246, 249);
}
.left,
.right {
    border-top: 3px solid rgb(241, 246, 249);
    border-bottom: 3px solid rgb(241, 246, 249);
}
.center {
    border: 3px solid rgb(241, 246, 249);
}

.at-article__section > .at-row {
    box-sizing: border-box;
    text-align: center;
}

.pl-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    justify-content: center; /*主轴对齐*/
}
.pl-col {
    width: 100%;
    padding: 20px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; /*定义body的元素垂直居中*/
    justify-content: center;
    transition: background-color 0.5s;
}
.pl-col-center {
    width: 100%;
    padding: 20px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; /*定义body的元素垂直居中*/
    justify-content: center;
    transition: background-color 0.5s; /*渐变效果*/
}
.hover-col {
    background-color: rgb(240, 240, 240);
}
