.login-text {
    font-size: small;
    color: grey;
}

.button-list {
    display: flex;
    flex-direction: column;
}
.button-list button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    color: rgb(51, 51, 51);
    transition: background-color 0.5s;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border-top: 1px solid rgb(230, 237, 243);
    font-size: medium;
}
.button-list button:active {
    background-color: rgb(240, 240, 240);
}
.button-list button::after {
    border: none;
}
.button-last {
    border-bottom: 1px solid rgb(230, 237, 243);
}
button View {
    margin-left: 20px;
    margin-right: auto;
}
