.stock-title {
    text-align: left;
    margin-left: 40px;
    font-size: 33px;
}
.stock-content {
    font-size: 28px;
    color: grey;
}
.pl-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.pl-col {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
